body {
  color: #fff;
  text-align: center;
}

/* Generic */

.col-centered {
  float: none;
  margin: 0 auto;
}

/* Header */

.header {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ccc;
}

.header h1 {
  font-size: 80px;
  font-family: fantasy;
}

/* Scroll Text */

.text-scroll {
  background-image: url(../img/code.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 60px;
  padding-top: 30px;
}

.text-scroll h2 {
  font-size: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}


/* Questions */

.bg-questions {
  height: auto;
  padding-top: 20px;
  background-color: blueviolet;
  padding-bottom: 100px;
}

.questions {
  padding-top: 100px;
}

.checkbox {
  padding: 10px;
  font-size: 20px;
}

.bg-questions h2 {
  padding-top: 40px;
  font-size: 60px;
  font-family: cursive;
}

.bg-questions h4 {
  padding-top: 10px;
  font-family: sans-serif;
}

#submit {
  margin-top: 75px;
  font-size: 20px;
}

/* Result */

.bg-result {
  height: auto;
  padding-top: 50px;
  background-color: green;
  padding-bottom: 100px;
}

.bg-result h2 {
  padding-top: 30px;
  font-size: 40px;
  font-family: serif;
}

.result-header {
  margin-top: -50px;
  padding-bottom: 30px;
}

.bg-result h3 {
  font-size: 35px;
  font-family: cursive;
}

/* Footer */

.footer {
  background-color: darksalmon;
  padding: 30px;
}

.footer footer {
  font-size: 20px;
}

.font-icons {
  padding: 10px;
}