body {
  color: #fff;
  text-align: center;
}

.header {
  height: 300px;
  padding-top: 30px;
  background-color: aqua;
}

.bg-result {
  height: 500px;
  background-color: green;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/* Scroll Text */

.text-scroll {
  background-image: url(../img/code.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 60px;
  padding-top: 30px;
}

.text-scroll h2 {
  font-size: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.text-scroll img {
  position: relative;
  top: 90px;
}


/* Questions */

.bg-questions {
  height: auto;
  padding-top: 20px;
  background-color: blueviolet;
  padding-bottom: 100px;
}

.questions {
  padding-top: 100px;
}

.checkbox {
  padding: 10px;
  font-size: 20px;
}

.bg-questions h2 {
  padding-top: 40px;
  font-size: 60px;
  font-family: cursive;
}

#submit {
  margin-top: 75px;
  font-size: 20px;
}

/* Result */



/* Footer */

.footer {
  background-color: darksalmon;
  padding: 30px;
}

.footer footer {
  font-size: 20px;
}

.font-icons {
  padding: 10px;
}